{% extends 'base.html' %}
{% block content %}
<h2>Вход</h2>
<form method="POST" class="add-form">
    <input type="text" name="username" placeholder="Логин" required>
    <input type="password" name="password" placeholder="Пароль" required>
    <button type="submit">Войти</button>
</form>
<div>
    <a href="{{ url_for('register') }}">Нет аккаунта? Зарегистрируйтесь</a>
</div>
{% if get_flashed_messages() %}
  <ul class="flash-msgs">{% for msg in get_flashed_messages() %}
    <li>{{ msg }}</li>
  {% endfor %}</ul>
{% endif %}
{% endblock %}